body
{
    font-family: Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

    background-color: #101010;
    color: #CCCCCC
}

a
{
    color: #c3915b
}

a:visited
{
    color: #a3713b
}

/* Tooltip container */
.tooltip 
{
    position: relative;
    display: inline-block;
    /* border-bottom: 1px dotted black; */ /* If you want dots under the hoverable text */

    width:max-content;

    cursor: default;
}
  
/* Tooltip text */
.tooltip .tooltiptext {
    opacity: 0%;
    width: max-content;
    background-color: black;
    color: #fff;
    text-align: center;
    padding: 3px;
    border-radius: 5px;
   
    /* Position the tooltip text - see examples below! */
    position: absolute;
    z-index: 1;
}

.tooltiptext {
    font-size: small;
}
  
/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
    opacity: 100%;
    transition: opacity 0.5s;
}