:root
{
    /* Colours */

    --accent: #c3915b;
    --accent-dimmed: #a3713b;

    --text: #dddddd;

    --background: #101010;

    --warn-1: #ff4444;
    --warn-2: #ff8888;
    --warn-3: #ffaaaa;
}

body
{
    font-family: Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

    background-color: var(--background);
    color: var(--text);

    margin: 20px;
}

h1, h2, h3, h4, h5, h6
{
    color: var(--accent);
}

li h1, li h2, li h3, li h4, li h5, li h6
{
    display: inline;
}

a
{
    color: var(--accent);
}

a:visited
{
    color: var(--accent-dimmed);
}

.nav
{
    margin-right: 10px;
}

/* Tooltip container */
.tooltip 
{
    position: relative;
    display: inline-block;

    width:max-content;

    cursor: default;
}
  
/* Tooltip text */
.tooltip .tooltiptext {
    opacity: 0%;
    width: max-content;
    background-color: black;
    color: var(--text);
    text-align: center;
    padding: 3px;
    border-radius: 5px;
   
    /* Position the tooltip text - see examples below! */
    position: absolute;
    z-index: 1;
}

.tooltiptext {
    font-size: small;
}
  
/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
    opacity: 100%;
    transition: opacity 0.5s;
}

.warn-1
{
    color: var(--warn-1);

    font-style: italic;
    font-weight: bold;
}

.warn-2
{
    color: var(--warn-2);

    font-style: italic;
}

.warn-3
{
    color: var(--warn-3);
}